* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.fondo {
    background-image: url(./images/fondo.atras.jpg);
}


header {
    width: 100%;
    padding: 0 40px 40px 40px;
    color: white;
    text-align: center;
    background-color: rgb(14, 52, 73);
}

.headerLogo {
    display: flex;
    align-items: center;
    
}

.headerLogo img {
    width: 100px;
    margin-left: 550px;
    
}


nav ul {
    list-style: none;
    background-color: rgb(80, 104, 128);
}

nav ul li {
    display: inline-block;
    padding: 20px 40px;
    transition: all ease-in-out 250ms;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul li a {
    color: rgb(196, 199, 212);
    text-decoration: none;
}

nav ul li:hover {
    background: #38435c;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-bottom: 10px;

    font-size: 1.5rem;
    color: #bac0c2;

}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: #cad4dd;
    margin-left: 0px;
    margin-top: 10px;
    font-weight: lighter;
}

.form-register {
    width: 600px;
    background: #5a7379;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border: none;

}

.controls {
    width: 100%;
    background: #c6ced3;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #454745;
    border: none;
    padding: 12px;
    color: rgb(223, 225, 231);
    margin: 16px 0;
    font-size: 16px;

}