* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.fondo {
    background-image: url(/images/fondo.atras.jpg);
}

section {
    background-color: rgb(184, 205, 214);
}

header {
    width: 100%;
    padding: 0 40px 25px 40px;
    color: white;
    text-align: center;
    background-color: rgb(81, 92, 106);
}

.headerLogo {
    display: flex;
    align-items: center;
    
}

.headerLogo img {
    width: 30px;
    margin-left: 40px;
    padding: 3px;
    
}


nav ul {
    list-style: none;
    background-color: rgb(98, 117, 139);
}

nav ul li {
    display: inline-block;
    padding: 20px 40px;
    transition: all ease-in-out 250ms;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul li a {
    color: rgb(196, 199, 212);
    text-decoration: none;
}

nav ul li:hover {
    background: #38435c;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
   /* font-weight: lighter;*/
    margin-bottom: 10px;

    font-size: 1.6rem;
    color: #4f5051;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #3e4a54;
    margin: 50px 300px;
    margin-top: 0;
    font-weight: lighter;
    padding-top: 50px;
    padding-left: 300px
}

h4{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: #b4b9bd;
    font-weight: lighter;
    margin-top: 5px;
    margin-left: 5px;
}

.bioPrincipal {
    padding: 0px 50px;
    font-size: 1rem;
    color: #16250d; }
  
  .bioPrincipal {
    display: flex;
    margin-left: 20px;
    padding-bottom: 35px; }
  
  .bioPrincipal p {
    padding: 30px 50px;
    font-size: 1.1rem;
    color: #16250d;
    text-align: center; }
  
  .biografiaImag {
    width: 100%;
    background-image: url(/images/foto-hospital.jpg);
    background-position: center;
    background-repeat: repeat-y; }


.form-register {
    width: 600px;
    background: #769da8;
    padding: 50px;
    margin-top: 50px;
    margin: auto;
    border-radius: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border: none;

}

.controls {
    width: 100%;
    background: #c6ced3;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #454745;
    border: none;
    padding: 12px;
    color: rgb(223, 225, 231);
    margin: 16px 0;
    font-size: 16px;

}

footer {
    width: 100%;
    background-image: url(./images/fondo.atras.jpg);
   background-position: center;
}
  
  .containerFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
   /* max-width: 1200px;
    margin: auto;*/
    margin-top: 0px; }
  
  .boxFooter {
    display: flex;
    flex-direction: column;
    padding: 40px; }
  
  .boxFooter .logo img {
    width: 150px; }
  
  .boxFooter .terminos {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: black;
    font-size: 18px; }
    .boxFooter .terminos p {
      color: black; }
  
  .boxFooter h6 {
    margin-bottom: 30px;
    color: #253429;
    font-weight: 700;
    font-size: 1rem;
    font-family: cursive; }
  
  .boxFooter a {
    margin-top: 10px;
    color: #1f2524; }
  
  .boxFooter a:hover {
    opacity: 0.8; }
  
  .boxFooter a.fab {
    font-size: 20px; }
  
  .boxCopyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px; }
  
  .boxCopyright p {
    margin-top: 20px;
    color: #222121; }
  
  .boxCopyright hr {
    border: none;
    height: 1px;
    background-color: #2a2929; }

    .footerRow {
        margin-top: 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
      .footerMenu, .footerSocial {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .footerMenu ul {
        list-style: none; }
        .footerMenu ul li {
          margin-top: 5px; }
      .footerForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        }
        .footerForm input {
          width: 100%;
          height: 30px;
          margin-bottom: 2px;
          border: 1px solid black;
          border-radius: 10px;
          padding-left: 10px; }
      .footerForm input[type="submit"] {
        background-color: red;
        color: white;
        width: 30%;
        border: 1px solid #5a2f2f;
        padding: 0; }
      .footerForm input[type="reset"] {
        background-color: red;
        color: white;
        width: 30%;
        border: 1px solid #5a2f2f;
        padding: 0; }
      .footerSocial a {
        margin-left: 1px; }
      .footerSocial img {
        height: 50px; }
    
    .footerContacto {
      display: flex;
      justify-content: space-around;
      color: blanchedalmond;
      font-family: sans-serif;
      font-size: 15px;
      margin-left: 100px;
      padding-top: 30px;
      padding-bottom: 20px; }
    
    .contactFoot {
      display: flex;
      justify-content: center;
      color: #a5b6a0;
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      margin-left: 600px;
      padding: 0px 30px 50px 30px;
      background-color: #202020;
      background-size: 10px;
      height: 0px;
      width: 200px;
      margin-top: 65px; }
    
    .underContac {
      display: flex;
      padding: 20px 20px 10px 20px;
      color: #b7e99c;
      font-size: 1rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-left: 50px; }
    
    .mapSide {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 80px;
      margin-bottom: 30px; }
    
    .footerMenu li a:hover {
      background: #b5dac4;
      color: #141d14; }
    
  /* SHOP*/

  .description {
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
  }

  .description:hover {
    height: 80px;
  }