h2 {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
    color: rgb(197, 55, 55);
    font-weight: lighter;
}

nav ul {
    display: flex;
    list-style: none;
   align-items: center;
   justify-content: center;

}

nav ul li {
    color: brown;
    margin-right: 15px;
}